<nav class="navbar">
  <ol>
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-spacer"></li>
    <li class="navbar-item"><a href="/register">Register</a></li>
  </ol>
</nav>
<hr/>
