:root {
    color-scheme:dark;
    --bg: #110f15;
    --text: #dcdcdc;
    --accent: #698fe9;
    --error-bg: #6a0c0c;
    --error-border: #a61c1c;
    --error: #ff6464;
}

html {
    font-size: 1.1em;
}

.container {
    max-width: 800px;
    min-width: 800px;
    margin: 0 auto;
    padding: 20px 10px;
}

.navbar > ol {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.navbar-spacer {
    flex-grow: 1;
}

.navbar-item {
    display: inline-block;
    padding: 0em 0.5em;
}

ol > .navbar-item:first-child {
    padding-left: 0px;
}

ol > .navbar-item:last-child {
    padding-right: 0px;
}

.error-block {
    text-align: center;
    background: var(--error-bg);
    border: 1px solid var(--error-border);
    color: var(--error);
    border-radius: 5px;
    padding: 5px 0px;
}

.error {
    display: block;
    font-size-adjust: 0.4;
    margin-left: 2em;
    white-space: pre-wrap;
    color: var(--error);
}

.error::before {
    content: "- ";
}
